
.settings {
    width: 200px;
    background-color: #ffffff10;
    border-left: solid 1px var(--c2);
    backdrop-filter: brightness(1.2) blur(5px);
}

.settings-header {
    background-color: #ffffff15;
    border-bottom: solid 1px var(--c2);
}

.setting {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.setting-name {
    color: var(--c1);
    margin-left: 4px;
    font-weight: bold;
}

input {
    flex: 1;
    min-width: 20px;
    height: 16px;
    margin: 0px 6px;
    padding-left: 2px;
    background: #ffffff15;
    color: var(--c1);
    font-size: 14px;
    font-family: "Trebuchet MS";
    border: solid 1px var(--c2);
    border-radius: 2px;
}
